*{
  padding: 0;
  margin: 0;
}
.App{
  text-align: center;
}
a{
  text-decoration: none;
}
.navbar{
  background-color:darkcyan;
  padding: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}
.pages{
  margin-right: 50px;
  font-size: 20px;
  
}
.pages a{
  color: white;
  border-bottom: 5px solid black;
  margin-left: 7px;
}
.userdetails{
  display: flex;
}
.userdetails h1, img, button{
  margin-left: 10px;
}

form{
  margin: 40px auto;
  background-color: darkcyan;
  padding: 25px;
  width: 400px;
  border-radius: 5px;
}

form .title-post, .description-post{
  padding: 10px;
  border-radius: 8px;
  border: none;
  outline: none;
  margin-bottom: 10px;
  resize: none;
}

.title-post:focus, .description-post:focus{
  outline: auto darkcyan;
}

form .submit-form{
  padding: 7px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
